@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Tourney:wght@200&display=swap');

:root {
  --roboto: "Roboto Slab", serif;
  --dancing:'Dancing Script', cursive;
  --clock:'Tourney', cursive;
  
}
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    font-family:var(--roboto);
}

/* form-group */
.form-group{
    margin-bottom: 1em;
}
.form-group label{
    font-size: 1.3rem;
    color: #fff;
    border-bottom: 2px solid #fff;
}

.error{
    display: none;
    margin-top: .7em;
    color:#ffeb3b;
}


/* chat join form */

@media(max-width:567px){
    #enter_chat_form_wrapper{
      margin:.5rem;
    }
  }